$primarydark: #1A1A40;
$secondarydark: #8758ff;
$purple:  #8758ff;
$lightgrey: #313131;

// src/styles/_variables.scss
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;


